.main{
    height:50px;
    background-color:#242F9B;
    color: white;
    padding-bottom:30px;
    padding-top: 10px;
}

.fdvi{
    background-image: linear-gradient(#B1E1FF,#FFB3B3,#F1F1F1);
    height:700px;
}

.navigation{
    display: flex;
    justify-content: space-around;
}

.home{
    color: white;
    font-family: cursive;
    font-size: 40px;
    text-decoration: none;
}
.home:hover{
    color: #F07DEA;
}

.student{
    color: white;
    font-family: cursive;
    font-size: 40px;
    text-decoration: none;
}
.student:hover{
    color: #F07DEA;
}

.contact{
    color: white;
    font-family: cursive;
    font-size: 40px;
    text-decoration: none;
}

.contact:hover{
    color: #F07DEA;
}

.first{
    margin-left: 4vw;
    margin-top: 4vw;
    font-size: 25px;
}


.third{
    margin-left: 4vw;
    margin-top: 4vw;
    font-size: 25px;
}

.ttb{
    background-image: linear-gradient(#B1E1FF,#FFB3B3,#F1F1F1);  
    padding-top: 2vw;
    height:700px;

}

.secpage{
    display: flex;   
}

.second{
    margin-left: 6vw;
    margin-top: 3vw;
    font-size: 40px;
    font-family: 'Bungee Inline';
}

.but1{
    height:50px;
    width:300px;
    margin-left:47vw;
    margin-top:4vw;
    border-radius:25px;
    border: 2px solid black;
    font-size:25px;
    background-color:lightskyblue;
}
.but1:hover{
    background-color: #F07DEA;
}



.hoome{
    background-image: linear-gradient(#B1E1FF,#FFB3B3,#F1F1F1);
    height:700px;   
    padding-top: 2vw;
}


.contt{
    background-image: linear-gradient(#B1E1FF,#FFB3B3,#F1F1F1);
    height:700px;   
    padding-top: 2vw;
}

table,th,tr,td{
    border: 2px solid lightskyblue;
    border-collapse: collapse;
    box-shadow:5px 5px 5px 5px #FFB3B3;
    font-size: 30px;
    text-align: center;
}

.table{
    margin-left:16vw;
    margin-top:4vw;
}

